<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delivery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        body{
            background-color: #ee5130;
        }

        .div-formulario{
            background-color: #ffffff;
            padding: 20px;
            border-radius: 10px;
        }

    </style>
</head>
<body>

<div class="container mt-5">
    <div class="row vh-100 justify-content-center align-items-center">
        <div class="col-md-6 div-formulario">
            <div class="text-center">
                <h1>Delivery</h1>
            </div>
            <form method="POST" action="">
                <div class="mb-3">
                    <label for="usuario" class="form-label">Usuário</label>
                    <input type="text" class="form-control" id="usuario">
                </div>
                <div class="mb-3">
                    <label for="pedido" class="form-label">Pedido</label>
                    <select class="form-control form-select" id="pedido" aria-label="Default select example">
                        <option selected>Abrir menu</option>
                        <option value="hamburguer">Hambúrguer</option>
                        <option value="pizza">Pizza</option>
                        <option value="salada">Salada</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="valor" class="form-label">Valor</label>
                    <input type="number" class="form-control" id="valor">
                </div>
                <input type="hidden" class="form-control" id="status" value="CONFIRMADO">
                <div class="text-center">
                    <button type="button" id="enviar" class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script>
    $(document).ready(function() {
        $('#enviar').click(function() {
            const usuario = $('#usuario').val();
            const pedido = $('#pedido').val();
            const valor = $('#valor').val();

            $.ajax({
                url: 'http://localhost:3000',
                method: 'POST',
                data: {
                    usuario: usuario,
                    pedido: pedido,
                    valor: valor
                },
                success: function(response) {
                    console.log('Requisição enviada com sucesso!');
                    alert('Requisição enviada com sucesso!');
                    // Faça algo com a resposta, se necessário
                },
                error: function(xhr, status, error) {
                    console.log('Ocorreu um erro na requisição:', error);
                    // Faça algo em caso de erro
                }
            });
        });
    });

</script>

</body>
</html>